@import "tailwindcss";

@font-face {
  font-family: "zorgeous";
  src: url("/fonts/MossionDemo.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "clashdisplay";
  src: url("/fonts/BasicCommercialLT-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  font-family: "clashdisplay", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: black;
}

button {
  cursor: pointer;
}

/* Headings consistency */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "zorgeous", sans-serif;
}

/* Remove default list styles */
ul,
li {
  cursor: pointer;
}

/* Image optimization - prioritize images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reduce text visual hierarchy, keep minimal and elegant */
p {
  font-size: 0.95rem;
  line-height: 1.6;
}

article {
  overflow: hidden;
}
