@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #161616;
  font-family: "Clash Display", serif;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
}

a {
  text-decoration: none;
  font-family: "Nohemi", sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* 6. Headings consistency */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nohemi", sans-serif;
}

/* 7. Remove default list styles */
ul,
li {
  list-style: none;
  cursor: pointer;
}
