@import "tailwindcss";

@font-face {
  font-family: "zorgeous";
  src: url("/fonts/ZORGEOUS.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "clashdisplay";
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  font-family: "clashdisplay", serif;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: black;
}

button {
  cursor: pointer;
}

/* 6. Headings consistency */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "zorgeous", sans-serif;
}

/* 7. Remove default list styles */
ul,
li {
  cursor: pointer;
}
